@font-face {
  font-family: 'Hachimaki';
  src: url('./assets/font/hHachimaki.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General Styles */
body {
  font-family: "Hachimaki", serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #d2f5a8;
  background: url('./assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: none;
}

/* Header */
header {
  background: url('images/placeholder.png') no-repeat center center/cover;
  padding: 2vh 4vw 4vh 4vw;
  color: white;
  width: 100%;
  display: flex;
}

header img {
  width: 7em;
}

.main {
  padding: 4vh 4vw 0 4vw;
  overflow: hidden;
}

.main h2 {
  font-size: calc(320% + .5vw);
  letter-spacing: 3px;
  color: white;
  padding: 0;
  margin: 0;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;
}

.main p {
  font-size: calc(70% + .38vw);
  color: white;
  font-weight: 800;
  word-spacing: .5px;
  line-height: 1.4;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;
}

.main-right {
  margin-top: 6vh;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 6.75em;
}

.main-right img {
  width: 50%;
  transform: translate(0%, -25%);
  object-fit: cover;
  z-index: 1;
}
/* Contract Section */
.contract-section {
  padding: 0 20px 20px 20px;
}

.contract-box {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-template-columns: 4fr 1.5fr;
}

.contract-section h3 {
  color: white;
  font-size: calc(98% + .47vw);
  letter-spacing: 1px;
  padding: 2em 0;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;

}

.contract-section h2 {
  color: #e8c936;
  font-size: calc(98% + .47vw);
  letter-spacing: 1px;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;
}

.contract-box {
  padding-bottom: 2em;
}

.contract-box input {
  outline: 0;
  border: 0;
  width: 100%;
  padding: 10px 6px;
  font-size: 75%;
  border: .23em solid #010009;
  border-bottom: .38em solid #010009;
  text-align: center;
  border-radius: 2em;
  font-family: "Poppins", serif;
  letter-spacing: 1px;
  height: 80%;
}

.contract-box button {
  all: unset;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 800;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

/* Roadmap */
/* Global box-sizing (optional but recommended) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Roadmap Section */
.roadmap {
  padding: 1em 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.roadmap h2 {
  font-size: calc(85% + .47vw);
  color: #e8c936;
  margin: 2% 0;
  letter-spacing: 1px;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;
}

.roadmap img {
  max-width: 920px;
  width: 100%;
  object-fit: cover;
}

/* Pre-Sale */
.presale {
  color: white;
  padding: calc(30px + 4vh) 4vw;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.bottom-subheading {
  width: 100%;
  display: grid;
  place-items: center;
}

.presale h2 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: calc(100% + .47vw);
  width: 75%;
  text-align: center;
  letter-spacing: 4px;
  filter: drop-shadow(3px 0 0 #000000)
  drop-shadow(0 3px 0 #000000);
  text-shadow: 2px 2px 20px black;
}

.social-icons img {
  width: 13%;
  max-width: calc(70px + 1vw);
  margin: 1%;
  transition: transform 0.2s ease-in-out;
}

.footer-img {
  position: absolute;
  bottom: -10vw;
  right: -10vw;
  width: 50vw;
  z-index: -2;
}

.footer-img2 {
  position: absolute;
  bottom: -10vw;
  left: 0vw;
  width: calc(47vw - 2vw);
  z-index: -2;
}

.footer-shadow {
  position: absolute;
  bottom: -.75em;
  width: 100%;
  left: 0;
  z-index: -1;
}

.social-icons a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
/* Responsive */
@media (min-width: 719px) {
:root {
  font-size: calc(18px + 1.25vw);
}

  .main {
    padding: 4vh 4vw 0 4vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    grid-gap: 0;
    gap: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .main-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .main-left p {
    text-align: left;
  }

  .main-left .social-icons {
    width: 100%;
    display: inline;
    gap: .75em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .social-icons a {
    display: inline;
    width: max-content;
    height: 100%;
  }

  .social-icons a img {
    width: 120%;
    height: 100%;
  }

  .launch-btn {
    margin: .5vh 0;
  }

  .main-right {
    margin-top: 0vh;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .main-right {
    position: relative;
  }

  .main-right img {
    position: absolute;
    width: calc(105% + 1vw);
    transform: translateX(-5%);
  }

  .contract-box {
    padding: 0 12%;
  }
  .presale h2 {
    width: 50%;
    font-size: calc(120% + .47vw);
  }
  .footer-img {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    width: 33vw;
  }
  .footer-img2 {
    position: absolute;
    bottom: -10vw;
    left: 0vw;
    width: 36vw;
    z-index: -2;
  }
}